[Unit]
Description=Flask app named SKYPROGRAM
After=network.target

[Service]
WorkingDirectory=/home/vrusin/course_work_3
ExecStart=/home/vrusin/course_work_3/venv/bin/python -m gunicorn app:app -b 0.0.0.0 -w 4

[Install]
WantedBy=multi-user.target